/*  group rules start */
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: #1A0B2E;
    color: #FFFFFF;
}
body>*{
    margin: 0 auto;
}
p{
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #ffffffb1;
}
header{
    width: 100%;
    /* border: 2px solid gold; */
}
nav{
    display: flex;
    justify-content: space-between;
    height: 92px;
    /* width: 75%; */
    padding: 0 12.5rem;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #412567;
    /* border: 3px solid green; */
    /* margin-bottom: 101px; */
}
nav>img{
    width: 219px;
    height: 32px;
}
nav div{
    display: flex;
    width: 20%;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
}
nav h5{
    line-height: 120%;
    font-size: 1rem;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.9) ;
}
nav button{
    width: 12%;
    background:linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    border-radius: 10000px;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
}
#hamburger{
    display: none;
}